* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    display: grid;
    justify-content: center;
    background-color: white;
}

ul li{
    display: inline-block;
    padding-left: 15px;
}

.logo{
    width: 100px;
 }

p{
     color: white;
     font-size: 1.1rem;
     padding: 10px;
}

h1{
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
}
 
.container{
    display: grid;
    height: 100vh;
    grid-template-columns:repeat(auto-fit, minmax(200px, 150px));
    place-items: center center;
    justify-content: center;
    background-image: url(/recycling-landing-page/images/container-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}

.recycle-models{
    max-height: 250px;
    max-width: 90%;
    filter: grayscale(50%);
    transform: scale(1);
}

.section-models{
    max-height: 300px;
    max-width: 90%;
}

.recycle-models:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

#section-glass{
    background-color:#444CC2;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    place-items: center center;
    justify-content: center;
    text-align: center;
}

#section-plastic{
    background-color:#FA942F;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    place-items: center center;
    justify-content: center;
    text-align: center;
}

#section-organic{
    background-color:#C4204A;
    height: 100vh;
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    place-items: center center;
    justify-content: center;
    text-align: center;
}

#section-paper{
    background-color:#0E6A41;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    place-items: center center;
    justify-content: center;
    text-align: center;
}

.go-top{
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    color: white;
}